.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* border: 1px solid blue; */
  height: 20vh;
  width: 15rem;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  border: 2px solid black;
  /* background-color: aqua; */
}
.avatar > img {
  height: 10rem;
}
